<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/@shopify/polaris@4.25.0/styles.min.css"
      />
    <script>
      document.addEventListener("DOMContentLoaded", async function() {


        var SessionToken = window["app-bridge"].actions.SessionToken
        var app = window.app;

        app.dispatch(
          SessionToken.request(),
        );

        // Save a session token for future requests
        window.sessionToken = await new Promise((resolve) => {
          app.subscribe(SessionToken.Action.RESPOND, (data) => {
            resolve(data.sessionToken || "");
          });
        });

        var fetchProducts = function() {
          var headers = new Headers({ "Authorization": "Bearer " + window.sessionToken });
          return fetch("/products", { headers })
            .then(response => response.json())
            .then(data => {
              var products = data.products;

              if (products === undefined || products.length == 0) {
                document.getElementById("products").innerHTML = "<br>No products to display.";
              } else {
                var list = "";
                products.forEach((product) => {
                  var link = `<a target="_top" href="https://<%= @shop_origin %>/admin/products/${product.id}">`
                  list += "<li>" + link + product.title + "</a></li>";
                });
                document.getElementById("products").innerHTML = "<ul>" + list + "</ul>";
              }
            });
        }();
      });
    </script>
  </head>
  <body>
<body>
<h1 class="title" mt-2>STYLEASY Setup</h1>
  <h2 mt-2> SETUP STYLEASY APP ASAP</h2>
<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="/styleasy/app/assets/images/Setup1.png" alt="Card image cap">
  <div class="card-body">
    <p class="card-text">Go to "Online Store" at bottom of left</p>
  </div>
  </div>
    </div>
    <div class="col-sm">
      <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="/styleasy/app/assets/images/Setup1.png" alt="Card image cap">
  <div class="card-body">
    <p class="card-text">Go to "Online Store" at bottom of left</p>
  </div>
    </div>
    <div class="col-sm">
      <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="/styleasy/app/assets/images/Setup1.png" alt="Card image cap">
  <div class="card-body">
    <p class="card-text">Go to "Online Store" at bottom of left</p>
  </div>
    </div>
        <div class="col-sm">
      <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="/styleasy/app/assets/images/Setup1.png" alt="Card image cap">
  <div class="card-body">
    <p class="card-text">Go to "Online Store" at bottom of left</p>
  </div>
    </div>
        <div class="col-sm">
      <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="/styleasy/app/assets/images/Setup1.png" alt="Card image cap">
  <div class="card-body">
    <p class="card-text">Go to "Online Store" at bottom of left</p>
  </div>
    </div>
  </div>
</div>

  <%# <div class="container">
    <ol class="list">
      <li class="list-item">Go to "Online Store" at bottom of left</li>
      <li class="list-item">Click "Themes" from left menu</li>
      <li class="list-item">Click "Customize"</li>
      <li class="list-item">Select a product from the drop down at top of page</li>
      <li class="list-item">Click "Add section" from left menu</li>
      <li class="list-item">Scroll down to "Apps" and add "Button"</li>
      <li class="list-item">Scroll down to "Apps" and add "Test-app"</li>
      <li class="list-item">Reposition "Button" and "Test-app" to desire positon</li>
      <li class="list-item">Click "AR Camera" button to test</li>
      <li class="list-item">Click "Save" in top right</li>
      <li class="list-item">Sit back and wait for all that dollar to some flooding in $$$$</li>
    </ol>
  </div> %>
    <div id="products"><br>Loading...</div>

    <h2>Webhooks</h2>

    <% if @webhooks.present? %>
    <ul>
      <% @webhooks.each do |webhook| %>
      <li><%= webhook.topic %> : <%= webhook.address %></li>
      <% end %>
    </ul>
    <% else %>
    <p>This app has not created any webhooks for this Shop. Add webhooks to your ShopifyApp initializer if you need webhooks</p>
    <% end %>
  </body>
</html>
